<div id="point" class="container">
</div>
<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<div class="product-list">
  <% @products.each do |product| %>
    <div class="product">
      <%= link_to product_path(product) do %>
        <div class="product-image">
          <% if product.images.attached? %>
            <%= image_tag product.images.first.variant(resize_to_limit: [100, 100]) %>
          <% else %>
            No Image Available
          <% end %>
        </div>
        <h2 class="product-name"><%= product.name %></h2>
      <% end %>
      <div class="product-description"><%= product.description %></div>
      
      <div><strong>Cost:</strong> <%= product.cost %></div>
      <div><strong>Has First Sale:</strong> <%= product.has_first_sale? ? 'Yes' : 'No' %></div>
      <div class="categories">
      <strong>Categories:</strong>
      <% product.product_categories.each do |category| %>
        <span class="category"><%= category.name %></span>
  <% end %>
    </div>    
    <div class="actions">
      <%= link_to 'Show', product %>
        <div id="cart-button-product-<%= product.id %>" class="cart-button">      
          <% if current_order && current_order.products.include?(product) %>
            <button id="remove-from-order-button-product-<%= product.id %>" class="add-to-order-button" data-controller="remove-from-order" data-remove-from-order-target="productId" value="<%= product.id %>" data-action="click->remove-from-order#removeFromOrder" data-product-id="<%= product.id %>">
              Remove from Order
              </button>
          <% else %>
          <button id="add-to-order-button-product-<%= product.id %>" class="add-to-order-button" data-controller="add-to-order" data-add-to-order-target="productId" value="<%= product.id %>" data-action="click->add-to-order#addToOrder" data-product-id="<%= product.id %>">
            Add to Order
            </button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>

<%= content_for :head do %>
  <%= javascript_import_module_tag "add_to_order" %>
<% end %>