<!DOCTYPE html>
<html>
  <head>
    <title>BuyEst</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if client_signed_in? %>
      <%= button_to 'Logout', destroy_client_session_path, method: :delete %>
      <ul class="cart">
        <lh><h2>Cart: </h2></lh>
        <li><strong>Items: </strong> <span class="order-items-count"><%= current_order.items_count %></span></li>
        <li><strong>Total: </strong> <span class="order-total"><%= number_to_currency(current_order.total_price) %></span></li>
      </ul>
      <span><strong>Cart: </strong></span>
      <%= link_to "Checkout", new_checkout_path %>
      <% else %>
      <!-- Client is not logged in, show login button -->
      <%= link_to 'Login', new_client_session_path %>
    <% end %>
  
    <%= yield %>
  </body>
</html>
